body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .grid-container {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-gap: 1px;
  padding: 20px;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #f0f0f0;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */
.grid-container {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  gap: 3px;
  padding: 20px;
}

.grid-item {
  position: relative;
  width: 100%;
  padding-top: 100%; /* This makes the item a square */
}

.grid-item img,
.grid-item .placeholder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the block area */
  display: block;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.grid-item .placeholder {
  background-color: #ccc;
}

.grid-item img:hover,
.grid-item .placeholder:hover {
  transform: scale(1.05);
  transition: transform 0.2s;
}

.nav{
  display: flex;
  align-items: center;
  justify-content:space-between;
  background-color: #000000;
  margin: 20px;
  color: #fff;
  padding: 10px 20px;
}









/* ---------------upload popup------------- */




.popup{
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0; 
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
}
